nav {
  background-color: rgb(255, 236, 236);
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-family: cursive;

  a {
    text-decoration: none;
  }

  h1 {
    font-family: cursive;
    color: rgb(134, 35, 68);

    &:hover {
      color: rgb(235, 152, 180);
      cursor: pointer;
    }
  }

  div {
    margin: 0.5rem;
    font-size: 1.1rem;
    a {
      margin-left: 2rem;
      text-decoration: none;
      color: black;

      &:hover {
        color: rgb(189, 91, 91);
        font-weight: bold;
        font-size: large;
      }
    }
  }
}
