.register,
.login {
  width: 90%;

  label,
  input,
  button,
  select {
    display: block;
    padding: 0.3rem;
  }
  label {
    font-family: cursive;
  }

  button {
    margin-top: 2rem;

    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: lightblue;
    color: white;
    font-family: cursive;
    cursor: pointer;
  }

  form {
    margin: 7rem;
  }
  img {
    margin-left: 0%;
  }
}
