.register,
.login {
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: cursive;

  label,
  input,
  button,
  select {
    display: block;
    padding: 0.3rem;
    outline: none;
  }

  .input {
    border: 1rem solid black;
  }

  button {
    background-color: rgb(189, 91, 91);
    font-family: cursive;
    padding: 0.7rem;
    text-align: center;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  form {
    margin: 8rem;
  }
}
